/BestHttp/Assets/StreamingAssets
/BestHttp/Library
HTTPServer/.vs/HTTPServer/v15/.suo
HTTPServer/.vs/HTTPServer/v15/Server/sqlite3/db.lock
HTTPServer/.vs/HTTPServer/v15/Server/sqlite3/storage.ide
HTTPServer/.vs/HTTPServer/v15/Server/sqlite3/storage.ide-shm
HTTPServer/.vs/HTTPServer/v15/Server/sqlite3/storage.ide-wal
HTTPServer/HTTPClient/bin/Release/HttpClient.exe
HTTPServer/HTTPClient/bin/Release/HttpClient.exe.config
HTTPServer/HTTPClient/bin/Release/HttpClient.pdb
HTTPServer/HTTPClient/obj/Debug/HttpClient.csproj.CoreCompileInputs.cache
HTTPServer/HTTPClient/obj/Release/HttpClient.csproj.CoreCompileInputs.cache
HTTPServer/HTTPClient/obj/Release/HttpClient.csproj.FileListAbsolute.txt
HTTPServer/HTTPClient/obj/Release/HttpClient.exe
HTTPServer/HTTPClient/obj/Release/HttpClient.pdb
HTTPServer/HTTPClient/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HTTPServer/HTTPClient/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HTTPServer/HTTPClient/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HTTPServer/HTTPServer/bin/Debug/HttpServer.exe
HTTPServer/HTTPServer/bin/Debug/HttpServer.pdb
HTTPServer/HTTPServer/bin/Debug/HttpServerLib.dll
HTTPServer/HTTPServer/bin/Debug/HttpServerLib.pdb
HTTPServer/HTTPServer/bin/Release/HttpServer.exe
HTTPServer/HTTPServer/bin/Release/HttpServer.exe.config
HTTPServer/HTTPServer/bin/Release/HttpServer.pdb
HTTPServer/HTTPServer/bin/Release/HttpServerLib.dll
HTTPServer/HTTPServer/bin/Release/HttpServerLib.pdb
HTTPServer/HTTPServer/bin/Release/MySql.Data.dll
HTTPServer/HTTPServer/obj/Debug/HttpServer.csproj.CoreCompileInputs.cache
HTTPServer/HTTPServer/obj/Debug/HttpServer.csproj.FileListAbsolute.txt
HTTPServer/HTTPServer/obj/Debug/HttpServer.csprojAssemblyReference.cache
HTTPServer/HTTPServer/obj/Debug/HttpServer.exe
HTTPServer/HTTPServer/obj/Debug/HttpServer.pdb
HTTPServer/HTTPServer/obj/Release/HttpServer.csproj.CopyComplete
HTTPServer/HTTPServer/obj/Release/HttpServer.csproj.CoreCompileInputs.cache
HTTPServer/HTTPServer/obj/Release/HttpServer.csproj.FileListAbsolute.txt
HTTPServer/HTTPServer/obj/Release/HttpServer.csprojAssemblyReference.cache
HTTPServer/HTTPServer/obj/Release/HttpServer.exe
HTTPServer/HTTPServer/obj/Release/HttpServer.pdb
HTTPServer/HTTPServer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HTTPServer/HTTPServer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HTTPServer/HTTPServer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HTTPServer/HTTPServerLib/HttpServer.cs
HTTPServer/HTTPServerLib.UnitTest/bin/Release/HttpServerLib.UnitTest.dll
HTTPServer/HTTPServerLib.UnitTest/bin/Release/HttpServerLib.UnitTest.pdb
HTTPServer/HTTPServerLib.UnitTest/bin/Release/nunit.framework.dll
HTTPServer/HTTPServerLib.UnitTest/bin/Release/nunit.framework.xml
HTTPServer/HTTPServerLib.UnitTest/obj/Debug/HttpServerLib.UnitTest.csproj.CoreCompileInputs.cache
HTTPServer/HTTPServerLib.UnitTest/obj/Debug/HttpServerLib.UnitTest.csprojAssemblyReference.cache
HTTPServer/HTTPServerLib.UnitTest/obj/Release/HttpServerLib.UnitTest.csproj.CopyComplete
HTTPServer/HTTPServerLib.UnitTest/obj/Release/HttpServerLib.UnitTest.csproj.CoreCompileInputs.cache
HTTPServer/HTTPServerLib.UnitTest/obj/Release/HttpServerLib.UnitTest.csproj.FileListAbsolute.txt
HTTPServer/HTTPServerLib.UnitTest/obj/Release/HttpServerLib.UnitTest.csprojAssemblyReference.cache
HTTPServer/HTTPServerLib.UnitTest/obj/Release/HttpServerLib.UnitTest.dll
HTTPServer/HTTPServerLib.UnitTest/obj/Release/HttpServerLib.UnitTest.pdb
HTTPServer/HTTPServerLib.UnitTest/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HTTPServer/HTTPServerLib.UnitTest/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HTTPServer/HTTPServerLib.UnitTest/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HTTPServer/HTTPServerLib/bin/Debug/HttpServerLib.dll
HTTPServer/HTTPServerLib/bin/Debug/HttpServerLib.pdb
HTTPServer/HTTPServerLib/bin/Release/HttpServerLib.dll
HTTPServer/HTTPServerLib/bin/Release/HttpServerLib.pdb
HTTPServer/HTTPServerLib/obj/Debug/HttpServerLib.csproj.CoreCompileInputs.cache
HTTPServer/HTTPServerLib/obj/Debug/HttpServerLib.csproj.FileListAbsolute.txt
HTTPServer/HTTPServerLib/obj/Debug/HttpServerLib.dll
HTTPServer/HTTPServerLib/obj/Debug/HttpServerLib.pdb
HTTPServer/HTTPServerLib/obj/Release/HttpServerLib.csproj.CoreCompileInputs.cache
HTTPServer/HTTPServerLib/obj/Release/HttpServerLib.csproj.FileListAbsolute.txt
HTTPServer/HTTPServerLib/obj/Release/HttpServerLib.csprojAssemblyReference.cache
HTTPServer/HTTPServerLib/obj/Release/HttpServerLib.dll
HTTPServer/HTTPServerLib/obj/Release/HttpServerLib.pdb
HTTPServer/HTTPServerLib/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HTTPServer/HTTPServerLib/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HTTPServer/HTTPServerLib/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
